$X_COLOR_PRIMARY: darkred;
$X_COLOR_PRIVATE: #f03;
$X_COLOR_TEXT_STRONG: #e48;

// screen-size() mixin 用のスクリーンサイズ定義
$X_BREAKPOINT_EXTRA_SMALL: 480px;
$X_BREAKPOINT_SMALL: 576px;
$X_BREAKPOINT_MEDIUM: 768px;
$X_BREAKPOINT_LARGE: 1200px;
$X_BREAKPOINT_EXTRA_LARGE: 1536px;

