{{ $pageTitle := partial "mm/func/get-page-title" . | safeURL }}
{{ $pageUrl := .Permalink }}
{{/*
  SVG ファイルの提供元: https://simpleicons.org/
  SVG ファイルは static ディレクトリにおいて img タグで参照するよりも、
  readFile 関数で assets ディレクトリにおいたファイルの内容を埋め込んで表示を高速化。
*/}}
<div class="mm-snsButtons">
  <!-- X (Twitter) -->
  <a rel="nofollow noopener noreferrer" target="_blank"
    href="https://twitter.com/intent/post?url={{ $pageUrl }}">
    <span class="mm-snsButtons__icon">
      {{ readFile "assets/img/mm/sns-x.svg" | safeHTML }}
    </span>
  </a>

  <!-- Threads -->
  <a rel="nofollow noopener noreferrer" target="_blank"
    href="https://www.threads.net/intent/post?text={{ $pageUrl }}">
    <span class="mm-snsButtons__icon">
      {{ readFile "assets/img/mm/sns-threads.svg" | safeHTML }}
    </span>
  </a>

  <!-- Facebook -->
  <a rel="nofollow noopener noreferrer" target="_blank"
    href="https://www.facebook.com/share.php?u={{ $pageUrl }}">
    <span class="mm-snsButtons__icon">
      {{ readFile "assets/img/mm/sns-facebook.svg" | safeHTML }}
    </span>
  </a>

  <!-- Line -->
  <a rel="nofollow noopener noreferrer" target="_blank"
    href="https://timeline.line.me/social-plugin/share?url={{ $pageUrl }}&text={{ $pageTitle }}">
    <span class="mm-snsButtons__icon">
      {{ readFile "assets/img/mm/sns-line.svg" | safeHTML }}
    </span>
  </a>

  <!-- はてなブックマーク -->
  <a rel="nofollow noopener noreferrer" target="_blank"
    href="https://b.hatena.ne.jp/entry?url={{ $pageUrl }}">
    <span class="mm-snsButtons__icon">
      {{ readFile "assets/img/mm/sns-hatena.svg" | safeHTML }}
    </span>
  </a>

  <!-- Pocket -->
  <a rel="nofollow noopener noreferrer" target="_blank"
    href="https://getpocket.com/edit?url={{ $pageUrl }}&title={{ $pageTitle }}">
    <span class="mm-snsButtons__icon">
      {{ readFile "assets/img/mm/sns-pocket.svg" | safeHTML }}
    </span>
  </a>
</div>
